@font-face {
    font-family: "BMWTypeNext Pro Regular";
    src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot");
    src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro Regular")format("svg");
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between; 
    padding: 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0) 13%), url(./img/banner-principal.webp); /*sombreado header*/
    background-size: cover;
    height: 100vh;
    color: #fff;

    
}

#header-itens {
    display: flex;
}

header ul {
    font-family: "BMWTypeNext Pro Regular";
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
    margin-top: 30px;
    font-size: 15px;
}

header nav ul {
    padding-left: 36px;
    gap: 36px;
    border-bottom: 1px solid #fff;
    padding-bottom: 34px;
}

#logo {
    margin-top: 16px;
    padding-left: 96px;
}

#logo img {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}

#menu-icons ul {
    padding-left: 545px;
    padding-right: 102px;
    gap: 28px;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    width: 10%;
}

.inbenta-bot__launcher{
    font-family: "BMWTypeNext Pro Regular";
    align-items: center;
    background-color: rgb(17, 115, 183);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    height: 52px;
    justify-content: center;
    left: 1400px;
    line-height: 22px;
    min-width: 64px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    position: fixed;
    right: 30px;
    text-rendering: optimizespeed;
}