@font-face {
    font-family: "BMWTypeNext Pro Regular";
    src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot");
    src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro Regular")format("svg");
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    padding: 0;
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.4) 1%, 
            rgba(0, 0, 0, 0) 13%
        ), 
        url('./img/banner-principal.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.header-btn{
    position: relative;
    text-decoration: none;
    font-family: "BMWTypeNext Pro Regular";
    color: white;
    cursor: pointer;
}

.header-btn:after{
    content: "";
    position: absolute;
    background-color: #1C69D4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -33px;
}

.header-btn:hover:after{
    width: 100%;
}

#header-itens {
    display: flex;
}

header ul {
    font-family: "BMWTypeNext Pro Regular";
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
    margin-top: 30px;
    font-size: 15px;
}

header nav ul li a{
    width: 100%;
    padding-left:8px;
}

header nav ul li {
    
    padding-left:15px;
    gap: -16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 34px;
}

.header-msg{
    font-family: "BMWTypeNext Pro Regular";
    position: absolute;
    left: 120px;
    bottom: 650px;
}

.header-msg h4{
    font-weight: 100;
}

.header-msg span{
    font-weight: 900;
}

.img-msg{
    font-family: "BMWTypeNext Pro Regular";
    font-size: 43px;
    position: absolute;
    left: 130px;
    bottom: 550px;
}

.img-btn{
    position: absolute;
    left: 132px;
    bottom: 500px;
    display: flex;
    gap: 25px;
}

.btn1{
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background: transparent;
    border-color: white;
    border-radius: 3px;
    width: 190px;
    height: 45px;
    font-weight: 700;
}

.btn1:hover{
    border: 2px solid white;
}

#logo {
    margin-top: 16px;
    padding-left: 25px;
}

.linha{
    width: 80%;
    border: 1px solid yellow;
}

#logo img {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}

#menu-icons ul{
    padding-left: 600px;
    padding-right: 160px;
    gap: 28px;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    width: 10px;
}

.icon{
    width: 20px;
    cursor: pointer;
}

#cars-icons-txt {
    text-align: center;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: normal;
    font-family: "BMWTypeNext Pro Regular";
    margin-bottom: 20px;
}

.cars-icons-h3 {
    font-size: 13px;
    font-weight: 300;
}

.cars-icons-h2 {
    font-size: 35px;
    font-weight: 300;
}

#cars-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 20px;
}

#cars-icons img {
    width: 100%; /* Para imagens responsivas */
    max-width: 400px; /* Define a largura máxima das imagens */
    height: auto;
}

#cars-icons-p {
    display: flex;
    justify-content: center;
    gap: 30vh;
    margin-bottom: 45px;
    text-align: center;
    font-family: "BMWTypeNext Pro Regular";
    font-size: 23px;
    padding-right: 25px;
}

#cars-btn {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding-left: 60px;
}

.cars-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 13px 23px;
    border-radius: 4px;
    border-color: gray;
    border: 1px solid gray;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: black;
    margin-block-end: 36px;
}


.cars-button:hover {
    border: 1px solid black;
}

#segunda-img {
    background: url(./img/banner3.png);
    height: 100vh;
    background-size: cover;
    margin-block-end: 50px;
}

#itens2 {
    font-family: "BMWTypeNext Pro Regular";
    color: white;
    padding-top: 300px;
    padding-left: 108px;
}

#terceira-img {
    background: url(./img/banner2.webp);
    height: 100vh;
    background-size: cover;
    margin-block-end: 50px;
}

#quarta-img {
    background: url(./img/banner4.png);
    height: 100vh;
    background-size: cover;
    margin-block-end: 20px;
}


/*FOOTER*/

footer {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    color: #333;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 80px;
    padding-left: 96px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
}

.footer-logo img {
    max-width: 250px;
    margin-right: 20px;
}

.footer-warning img{
    max-width: 375px;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f2f2f2;
    position: relative;
}

.footer-section {
    max-width: 300px;
    position: relative;
    font-weight: bold;
}

.footer-section h4 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
    font-weight: normal;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

.footer-social a img {
    width: 24px;
    margin-right: 10px;
}
.footer-social {
    margin-top: 100px;
}
.footer-copyright {
    font-size: 18px;
    padding-left: 96px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    padding-right: 250px;
}

.footer-links ul li {
    margin-left: 20px;
}

.footer-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .footer-top,
    .footer-middle,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-top {
        padding: 10px;
    }

    .footer-warning {
        text-align: center;
        margin-top: 10px;
    }

    .footer-middle {
        padding: 10px 0;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .footer-links ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul li {
        margin: 5px 0;
    }
}
